.post-data-container {
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0; 
  background: #f5f5f5; 
  z-index: 1000; 
}

.response-section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; 

}
.post-table {
  width: 100%;
  margin-top: 20px;
}

.mat-elevation-z8 {
  overflow-x: auto;
}


.home-button-dhan{
  
  background-color: white;

}

pre {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  white-space: pre-wrap;
  border: 1px solid rgb(207, 202, 202);
}




@media (max-width: 480px) {
  .post-data-container {
    padding: 10px;
    max-width: 90;

  }
}
