<div class="quiz-container">
  <div class="header-container">
    <button (click)="home()" class="home-button">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    <h1>Quiz</h1>
  </div>

  <form #quizForm="ngForm" (ngSubmit)="submitQuiz(quizForm)">
    <div *ngFor="let question of questions; let i = index" class="question-container">
      <mat-card class="question-card">
        <mat-card-content>
          <p>{{ question.question }}</p>
          <div class="options-container">
            <div class="option" *ngFor="let option of question.options; let j = index">
              <label>
                <input
                  type="radio"
                  name="question{{ i }}"
                  [value]="option"
                  [(ngModel)]="userAnswers[i]"
                  required
                />
                {{ option }}
              </label>
            </div>
          </div>
          <div *ngIf="quizForm.submitted && !userAnswers[i]" class="error">
            <p class="error-message">Please select an option for this question.</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="showErrorMessage" class="error">
      <p class="error-message">Please answer all questions before submitting.</p>
    </div>
    <div class="button-container">
      <button mat-raised-button color="accent" type="submit">Submit Quiz</button>
    </div>
  </form>
</div>
