
   .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
   
  }
  
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home-button {
    
    margin-bottom: 10px;
    background-color: #b3d6eb;
    
  }
  
  .high-score {
    color: green;
    font-weight: bold;
  }
  
  .low-score {
    color: red;
    font-weight: bold;
  }
  



  mat-card-actions {
    display: flex;
    justify-content: center;
  }
  