<div class="market-status-wrapper">
  <div class="market-status-container">
    <div *ngIf="error" class="error">
      <p>{{ error }}</p>
    </div>

    <div class="unique-filter-container">
      
      <button mat-icon-button (click)="home()" color="accent" class="home-button-dhan">
        <mat-icon>home</mat-icon>
      </button>

      <div class="filter-item">
        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Exchange</mat-label>
          <mat-select [(ngModel)]="selectedExchange" (selectionChange)="filterData()">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let exchange of exchanges" [value]="exchange">{{ exchange }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-item">
        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Segment</mat-label>
          <mat-select [(ngModel)]="selectedSegment" (selectionChange)="filterData()">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let segment of segments" [value]="segment">{{ segment }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-item">
        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Segment Code</mat-label>
          <mat-select [(ngModel)]="selectedSegmentCode" (selectionChange)="filterData()">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let segmentCode of segmentCodes" [value]="segmentCode">{{ segmentCode }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-item">
        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Market Type</mat-label>
          <mat-select [(ngModel)]="selectedMarketType" (selectionChange)="filterData()">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let marketType of marketTypes" [value]="marketType">{{ marketType }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-item">
        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Market Status</mat-label>
          <mat-select [(ngModel)]="selectedMarketStatus" (selectionChange)="filterData()">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let marketStatus of marketStatuses" [value]="marketStatus">{{ marketStatus }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="filteredData.length > 0">
      <table mat-table [dataSource]="filteredData" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="exchange">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Exchange</th>
          <td mat-cell *matCellDef="let element">{{ element.exchange }}</td>
        </ng-container>

        <ng-container matColumnDef="segment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Segment</th>
          <td mat-cell *matCellDef="let element">{{ element.segment }}</td>
        </ng-container>

        <ng-container matColumnDef="segmentcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Segment Code</th>
          <td mat-cell *matCellDef="let element">{{ element.segmentcode }}</td>
        </ng-container>

        <ng-container matColumnDef="mkttype">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Market Type</th>
          <td mat-cell *matCellDef="let element">{{ element.mkttype }}</td>
        </ng-container>

        <ng-container matColumnDef="mktstatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Market Status</th>
          <td mat-cell *matCellDef="let element">{{ element.mktstatus }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div *ngIf="filteredData.length === 0 && !error">
      <p>No data available.</p>
    </div>
  </div>
</div>
