

<div class="welcome-container">

    <h1>Welcome user </h1>
    

    <button mat-raised-button color="accent"  (click)="takeQuiz()">Take a Quiz</button>   
    <button mat-raised-button color="accent" (click)="testGet()">Test GET</button>   
    <button mat-raised-button color="accent" (click)="testPost()">Test POST </button>   

<!-- 
    <button (click)="takeQuiz()">Take a Quiz</button>
    <button (click)="testGet()">Test GET</button>
    <button (click)="testPost()">Test POST</button> -->
    
    </div>