<!-- <div class="welcome-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Welcome, User!</h1>
        </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <p>Select an action to proceed:</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="takeQuiz()">Take a Quiz</button>
        <button mat-raised-button color="accent" (click)="testGet()">Test GET</button>
        <button mat-raised-button color="warn" (click)="testPost()">Test POST</button>
        <button mat-raised-button color="primary" (click)="testMaterial()">Test Master</button>
      </mat-card-actions>
    </mat-card>
  </div>
   -->

   <div class="welcome-container">

    <mat-card>

      <mat-card-header>
        <mat-card-title>
          <h1>Welcome, User!</h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Select an action to proceed:</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="takeQuiz()">Take a Quiz</button>
        <button mat-raised-button color="accent" (click)="testGet()">Test GET</button>
        <button mat-raised-button color="primary" (click)="testPost()">Test POST</button>
        <button mat-raised-button color="primary" (click)="testMaterial()">Test Material</button>
      </mat-card-actions>

    </mat-card>

  </div>
  